    body {
        font-family: Arial, Helvetica, sans-serif;
        background: white;
        color: black;
        text-align: center;
    }

    .cat-image{
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        width: 80%;
        border: 3px solid #73AD21;
    }
  
  
    .fullCard {
        margin: 0rem auto;
        width: 80%;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 50px;
        padding: 4px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); 
        
    }
    
    .title-block{
        width: 80%;
        border: 1px solid black;
        border-radius: 5px;
        margin: auto;
        padding: 4px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .intro-block{
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 600px;
        margin: auto;
    }
  
    h1:hover {
        color: red;
    }
  
    a:hover {
        color: red;
    }
  
    .contacts-section{
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 600px;
        margin: auto;
    }
  
    .discussion{
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 600px;
        margin: auto;
    }
  
      
    @keyframes change-scale {
        100% {
        width: 60%;}
    }